* {
    color: white;
    border: none;
    outline: none;
    font-family: Segoe UI;
}

QWidget {
    background: transparent;
    border-radius: 0px;
}

QWidget#WIN_settings {
    background: qlineargradient(
        x1:0, y1:0, x2:0, y2:1,
        stop:0 #1c2028,
        stop:1 #1a2032
    );
}


/* ---------------------------------------------------------------- */


QLabel {
    background: transparent;
    font-size: 10px;
}

QPushButton {
    background-color: #262b3d;
    border: none;
    border-radius: 4px;
    padding: 4px;
}
QPushButton:hover {
    background-color: #2b3144;
}
QPushButton:disabled {
    color: #a7a7a7;
}

QPushButton#colorPickerBtn {
    color: #000000;
    background-color: #262b3d;
    border: none;
    border-radius: 4px;
}

QPushButton#setImageBtn {
    background-color: #262b3d;
    border: 2px dashed #0078d4;
    border-radius: 0px;
}
QPushButton#setImageBtn:hover {
    background-color: #2b3144;
}

QLabel {
    background: transparent;
    font-size: 11px;
}
QLabel#infoLabel {
    background: transparent;
    font-size: 16px;
}


QToolTip {
    color: #181818;
    background-color: #1880c2;
    border: none;
    border-radius: 0px;
    font-size: 12px;
}


QMenu {
    background-color: #1b202e;
    color: white;
    padding: 4px;
    border: 1px solid #353535;
    border-radius: 0px;
}
QMenu::icon {
    padding-left: 6px;
}
QMenu::item {
    padding: 6px 12px;
    background-color: transparent;
    color: white;
}
QMenu::item:hover {
    background-color: #262b3c;
}
QMenu::item:selected {
    background-color: #262b3c;
}
QMenu::separator {
    height: 1.5px;
    background: #434c6a;
    margin: 2px 0;
    padding: 0;
}
QMenu::item:disabled {
    color: gray;
    background: transparent;
}


QMessageBox {
    background: #1a2032;
}


QPushButton#iconBtn {
    background-color: #262b3d;
    border: none;
    border-radius: 11px;
}
QPushButton#iconBtn:hover {
    background-color: #898b90;
}



QSlider:horizontal {
    background: transparent;
}
QSlider::groove:horizontal, QSlider::sub-page:horizontal, QSlider::add-page:horizontal {
    border: none;
    border-radius: 2px;
}
QSlider::handle:horizontal {
    background-color: #0078d4; /* Primary Cyan */
    border: none;
    border-radius: 7px;
    width: 14px;
    height: 14px;
}
QSlider::handle:horizontal:hover {
    background-color: #0f90f3; /* Lighter Cyan highlight on hover */
}
QSlider:horizontal {
    height: 18px;
}
QSlider::groove:horizontal, QSlider::add-page:horizontal {
    background-color: #E4E4E7; /* Subtle light gray for the unfilled track */
    height: 4px; /* Track grows sideways */
}
QSlider::sub-page:horizontal {
    background-color: #0f90f3; /* Primary Cyan for the filled track (left side) */
}
QSlider::handle:horizontal {
    margin: -5px 0px; /* Vertically centers the handle on a horizontal line */
}

